<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Procesadores de Lenguajes - CSV</title>
    <link href="global.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="csv.js"></script>
    <script type="text/html" id='fillTable'>
      <table id="result" class="center">
        <% _.each(items, function(name) { %>
          <tr class="<%= name.rowClass %>">
            <% _.each(name.value, function(cell) { %>
              <td><%= cell %></td>
            <% }); %>
          </tr>
        <% }); %>
      </table>
    </script>
  </head>
  <body>
    <div class="big columns">
      <h1>
        PL - Práctica 2 - CSV
      </h1>
      <hr/>
    </div>
    <div class="medium columns" align=center>
      <p>
        Aplicación: Crearemos una tabla a partir del texto introducido, separado por comas.
      </p>
      <p>
        <textarea autofocus cols = "80" rows = "5" id="original"></textarea>
        <button type="button">Crear tabla</button><br>
      </p>
      <h3>
        Tabla resultado
      </h3>
      <span class="output" id="finaltable"></span>
	<h3> <a href="tests/index.html" align=center>ir a Pruebas</a>
	</h3>
    </div>

    <!-- Footer -->
    <div class="big columns">
      <hr/>
      <div class="small columns">
        <p> &copy; Enrique Tejera González // alu0100537512 // L1 </p>
      </div>
    </div>
  </body>
</html>